@model MVCLabbAjax.Models.Album

@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.InsertAfter,
        UpdateTargetId = "Addcomment"
    };
}
@using (Ajax.BeginForm("AddComment", ajaxOptions))
{
    <input type="text" name="albumComment" />
    <input type="submit" value="Add Comment" />
}

<div id="Addcomment">
    @{Html.RenderAction("Index");}
</div>

